$color-white: #FFFFFF;
$color-grey: #F2F2F2;
$color-grey-dark: #D9D9D9;
$color-black: #333333;

$color-blue: #057AFF;
$color-blue-dark: #004C9E;
$color-orange: #F96900;
$color-beige: #FDF7E9;
$color-red: #FC2F00;
$color-green: #5EF38C;