@font-face {
  font-family: 'HKGrotesk-light';
  src:  url('../../fonts/HKGrotesk/HKGrotesk-Light.woff2') format('woff2'),
        url('../../fonts/HKGrotesk/HKGrotesk-Light.woff') format('woff');
}
@font-face {
  font-family: 'HKGrotesk-regular';
  src:  url('../../fonts/HKGrotesk/HKGrotesk-Regular.woff2') format('woff2'),
        url('../../fonts/HKGrotesk/HKGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: 'HKGrotesk-medium';
  src:  url('../../fonts/HKGrotesk/HKGrotesk-Medium.woff2') format('woff2'),
        url('../../fonts/HKGrotesk/HKGrotesk-Medium.woff') format('woff');
}
@font-face {
  font-family: 'HKGrotesk-semibold';
  src:  url('../../fonts/HKGrotesk/HKGrotesk-SemiBold.woff2') format('woff2'),
        url('../../fonts/HKGrotesk-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'HKGrotesk-bold';
  src:  url('../../fonts/HKGrotesk/HKGrotesk-Bold.woff2') format('woff2'),
        url('../../fonts/HKGrotesk/HKGrotesk-Bold.woff') format('woff');
}